.foot-top{
	width: 100%;
	text-align:center;
	background: #262424;
	line-height: 1.5;
	
}
.foot-top h2{
	padding-top: 50px;
    margin-bottom: 50px;
	font-size:44px;
	color:#fff;
	font-weight: bold;
}

.foot-top img{
	    margin-bottom: 50px;
}
